/* *{
  border: 1px solid red;
} */

.bg-gradient-custom{
    background: linear-gradient(120deg, #e3f2fd, #f9e8ff);
}
/*custom font importation with back ups*/
*{
  font-family: 'Bitter', Georgia, 'Times New Roman', serif;
}

/* ---------------for the navbar header and footer banner */
  .navbar, footer{
    background-color:rgb(145, 149, 173);
    color:rgb(246, 251, 253);
    font-weight: 650;
  }
  #brand{
    color:rgb(246, 251, 253);
    font-weight: 775;
  }
  .navbar .nav-link:hover,
  .navbar .nav-link:focus{
      color:rgb(246, 251, 253);
  }
  .navbar .navbar-nav .nav-link.active{
      color:rgb(246, 251, 253);
      font-weight: 650;
  }
  /* overwrite any boostrap css by using a more specific selector */
  a.nav-link{
    color:rgb(252, 230, 253);
  }

/*---------------------------------------------------------- .index specific*/
/* ---------------for the top card*/
  #box{
    padding:2%;
  }
  .profile-img{
    border-radius: 20%;
  }
  #info-card{
    border: 2px dashed rgb(145, 149, 173);
  }

/* -----------------for the overall bio table */
#bio-header{
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: rgb(77, 80, 100);
}  
.bio-table{
    width: 95%;
    border-collapse: collapse;
  }

  .bio-table th{
    font-size: 1.2rem;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }

  .bio-table td{
    padding: 12px;
    border-right: 1px dotted #aaa;
    vertical-align: top;
  }

  /* remove the last col outline in the info table */
  .bio-table td:last-child{
    border-right: none;
  }

  .cell-title{
    display: block;
    font-weight: bold;
    font-size: 0.9rem;
    color: #555;
  }

  .cell-text{
    margin-top: 4px;
    font-size: 1rem;
  }

  /* ----------for the pfp image that preserves the aspect ratio for responsiveness */
    .profile-img{
      max-width: 75%;
      max-height: 75%;
      object-fit: cover;
      padding:5%;
    }

/* --------for the About box*/
.about{
  padding:1%;
}
h1, h4{
  text-align:center;
  padding-top: 2%;
}
.about-text{
  max-width: 600px;
  text-align: center;
  padding:1%;
  margin:0 auto;
}
/*---------for the resume section*/
.resume{
  margin-bottom: 4%;
}
#resume-link{
  color:rgb(62, 174, 218);
}

/*---------for the footer*/
footer{
  padding: 2%;
  text-align: right;
}


/*---------------------------------------------------------- .portfolio specific*/
#all-cards{
  margin-bottom:10%;
  margin-top:5%;
  margin-left:5%;
  margin-right:5%;
}
#recent-proj{
  margin-bottom: 5%;
}
.card-image{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color:rgb(115, 119, 141);
}
/*for specifying the actual image file*/
.card-image img{
  height: 100%;
  width: auto;
  max-width: 100%;
  display: block;
}
.card-body{
  display: flex;
  flex-direction: column;
  height: 100%;
}
#rubric-link{
  color:rgb(115, 119, 141);
  font-size: small;
}
/*---------------------------------------------------------- .contact specific*/
#mail-icon{
    display: block;
    margin: 0 auto;
}
.input-related{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border:#555;
  border-width: 1px;

}

#submit-button{
  align-items: center;
}