/* *{
  border: 1px solid red;
} */

/* ---------------for the navbar header and footer banner */
  .navbar, footer{
    background-color:rgb(110, 114, 136);
  }
  #brand{
    color:rgb(219, 232, 240);
  }

/* ---------------for topmost card */
  #top-box{
    padding:2%;
    size:80%;
  }

/* -----------------for the table */
  .bio-table {
    width: 95%;
    border-collapse: collapse;
  }

  .bio-table th {
    font-size: 1.2rem;
    padding: 10px;
    border-bottom: 2px solid #ccc;
  }

  .bio-table td {
    padding: 12px;
    border-right: 1px dotted #aaa;
    vertical-align: top;
  }

  /* remove the last col outline in the table */
  .bio-table td:last-child {
    border-right: none;
  }

  .cell-title {
    display: block;
    font-weight: bold;
    font-size: 0.9rem;
    color: #555;
  }

  .cell-text {
    margin-top: 4px;
    font-size: 1rem;
  }

  /* ----------for the pfp image that preserves the aspect ratio for responsiveness */
    .profile-img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      padding:5%;
    }

/* --------for the About box */
#about{
  padding:1%;
}
h1{
  text-align:center;
  padding-top: 2%;
}
#about-text{
  padding:1%;
  margin-left: 2%;
  margin-right: 2%;
}

/*---------for the footer*/
footer{
  padding: 2%;
  text-align: right;

}